.todaysItem {
	display: flex;
	margin: 40px;
	border-radius: 30px;
	width: 50%;
	max-height: 400px;
	min-height: 250px;
	overflow: hidden;
	min-width: 700px;
	align-items: center;
	box-shadow: 2px 2px 4px #888888;
	gap: 20px;
	background-color: #ffffff;
	position: relative;
	cursor: pointer;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.infoContainer p {
	color: #4f4f4f;
}

.infoContainer strong {
	color: #333333;
}

.todayImgContainer img {
	width: 100%;
	max-height: 250px;
	object-fit: contain;
}

.todayImgContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 220px;
	min-width: 200px;
	margin: 40px;
}

@media screen and (max-width: 786px) {
	.todaysItem {
		min-width: 0;
		width: 90%;
	}
}

@media screen and (max-width: 715px) {
	.todaysItem {
		min-width: 0;
		width: 90%;
		height: auto;
	}

	.todaysItem img {
		display: none;
	}

	.todayImgContainer {
		display: none;
		width: 0px;
		margin: 0px;
	}
	

	.infoContainer {
		margin: 20px;
	}
}
