.productContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.productContent {
	max-width: 1000px;
	display: flex;
	gap: 30px;
	margin: 40px;
	margin-top: 100px;
	justify-content: center;
}

.productImage {
	display: flex;
	align-items: center;
	background-color: white;
	width: 350px;
	justify-content: center;
	border-radius: 30px;
}

.productImage img {
	max-width: 500px;
	max-height: 300px;
	width: auto;
	height: auto;
	overflow: hidden;
	margin: 20px;
}
.rateAndShopContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 20px;
	align-items: center;
}

.productInfo {
	width: 60%;
}

.productInfo h1 {
	margin-top: 0px;
}
.productInfo p {
	font-size: larger;
}

@media screen and (max-width: 900px) {
	.productContent {
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.productImage img {
		margin: 20px;
	}

	.productInfo {
		width: 100%;
	}

	.productInfo h1 {
		font-size: 20px;
	}

	.rateAndShopContainer {
		margin-right: 0px;
	}
}
