.productContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.productContent {
	max-width: 1000px;
	display: flex;
	gap: 30px;
	margin: 40px;
	margin-top: 100px;
	justify-content: center;
}

.productImage {
	display: flex;
	align-items: center;
	background-color: white;
	width: 350px;
	justify-content: center;
	border-radius: 30px;
}

.productImage img {
	max-width: 500px;
	max-height: 300px;
	width: auto;
	height: auto;
	overflow: hidden;
	margin: 20px;
}
.rateAndShopContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 20px;
	align-items: center;
}

.averageRatingContainer {
	display: flex;
	flex-direction: row;
	margin-top: 0px;
}
.averageRatingContainer p {
	margin: 5px;
	margin-left: 0px;
}

.productInfo {
	width: 60%;
}

.productInfo h1 {
	margin-top: 0px;
}
.productInfo p {
	font-size: larger;
}

button {
	margin: 20px;
	background-color: white; /* White background */
	border: 1px solid #ddd; /* Light grey border */
	padding: 10px 20px; /* Padding inside the button */
	border-radius: 5px; /* Rounded corners */
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
	font-size: 16px; /* Font size */
	transition: all 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
	background-color: #f8f8f8; /* Slightly darker background on hover */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); /* More pronounced shadow on hover */
	transform: translateY(-2px); /* Slight raise effect on hover */
}

button:active {
	transform: translateY(1px); /* Button appears pressed when active */
}

@media screen and (max-width: 900px) {
	.productContent {
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.productImage img {
		margin: 20px;
	}

	.productInfo {
		width: 100%;
	}

	.productInfo h1 {
		font-size: 20px;
	}

	.rateAndShopContainer {
		margin-right: 0px;
	}
}
