@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Header {
	background-color: #354f52;
	display: flex;
	flex-direction: row;
	align-items: center; /* Center vertically */
	font-size: calc(4px + 0.8vmin);
	color: white;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
}

.header-icon {
	cursor: pointer;
	margin-left: 20px; /* Adjust margin as needed */
}

.header-title {
	cursor: pointer;
	margin-left: 10px; /* Adjust margin as needed */
}
.header-spacer {
	margin-left: auto;
	margin-right: 4em;
	display: flex;
	flex-direction: row;
	align-items: center; /* Center vertically */
}
.search-and-button {
	display: flex;
	align-items: center;
	height: 100%; /* Make it the same height as the Header */
}

@media screen and (max-width: 650px) {
	.header-spacer {
		display: none;
	}

	.search-and-button {
		margin-left: auto;
	}
}
