@import '@flaticon/flaticon-uicons/css/all/all';

.mainContainer {
	width: 100%;
	margin: 0px;
}

h2 {
	font-size: 35px;
	margin-bottom: 0px;
}

.todaysItemContainer {
	display: flex;
	flex-direction: column;
	margin: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cardContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.allProductsContainer {
	display: flex;
	flex-direction: column;
	margin: 40px;
	align-items: center;
	margin-top: 0px;
}

.categoryGrid {
	max-width: 1000px;
	margin-top: 0px;
	width: 90%;
	min-width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.categoryCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	height: 200px;
	text-align: center;
	font-weight: bold;
	margin: 50px;
	margin-top: 20px;
	box-shadow: 2px 2px 4px #888888;
	background-color: #ffffff;
	border-radius: 30px;
	cursor: pointer;
	color: #4f4f4f;
}

.categoryCard:hover {
	box-shadow: 5px 5px 20px gray;
}

.categoryCard i {
	font-size: 70px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.categoryCard p {
	margin-top: 1px;
}

@media screen and (max-width: 600px) {
}
