.MyPage {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.content-container {
	display: flex;
	width: 90%;
	justify-content: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-evenly;
	margin: 10px;
}

.MyFavourites {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 342px;
	margin-right: 20px;
}
.MyRatings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
}

.MyFavourites .FavouriteContainer {
	justify-content: flex-start;
}

.MyFavourites .FavouriteContainer {
	justify-content: flex-start;
	flex-direction: column;
}

.MyFavourites .FavouriteContainer .productCardContainer {
	margin: 0px;
	margin-top: 30px;
	height: auto;
	width: 300px;
	display: flex;
	gap: 10px;
}

.MyFavourites .FavouriteContainer .productCardContainer .imgDiv {
	display: none;
}

.MyFavourites
	.FavouriteContainer
	.productCardContainer
	.favoriteButtonContainer {
	position: relative;
	z-index: 0;
	top: 0;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.MyFavourites .FavouriteContainer .productCardContainer .textDiv {
	margin-right: 10px;
	display: flex;
}

.MyFavourites .FavouriteContainer .productCardContainer .textDiv .tittel {
	white-space: wrap;
}

@media screen and (max-width: 974px) {
}

@media screen and (max-width: 500px) {
	.MyFavourites {
		width: 90%;
		min-width: 0px;
	}

	.MyFavourites .FavouriteContainer {
		justify-content: center;
	}

	.MyRatings {
		width: 90%;
		margin-left: 0px;
	}

	.ratingsContainer {
		width: 100%;
		display: flex;
	}

	.content-container {
		gap: 20px;
	}

	.MyPage {
		margin-top: 20px;
	}
}

@media screen and (max-width: 390px) {
	.MyFavourites .FavouriteContainer .productCardContainer {
		width: 85%;
	}
}
